# It is not possible to re-include a file if a parent directory of that file is excluded.
# https://git-scm.com/docs/gitignore
# That's why we're listing IDEA files separately
/.idea/ant.xml
/.idea/codeInsightSettings.xml
/.idea/compiler.xml
/.idea/dictionaries/
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/excludeFromValidation.xml
/.idea/httpRequests/
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/projectCodeStyle.xml
/.idea/RunInCmd.xml
/.idea/sqlDataSources.xml
/.idea/sqldialects.xml
/.idea/sshConfigs.xml
/.idea/webServers.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dataSources*
/.idea/uiDesigner.xml
/.idea/usage.statistics.xml
/.idea/libraries
/.idea/artifacts
/.idea/scopes
/.idea/copyright
/.idea/shelf
/.idea/templateLanguages.xml
/.idea/validation.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/fileTemplates/includes/FileHeader.java
/.idea/codeStyles
/.idea/codeStyleSettings.xml

# We keep the following files committed and updated, do not add them to .gitignore:
# /.idea/dxCore.xml - dxCore inspection profile

# This file is developer-specific, and might be even branch-specific for developer
dbmigrator/conf/db.properties

dependency-reduced-pom.xml
*.iml
target/
!target/generated-sources/
/*.err
/*.log
API/config
Tests/dataLoaderIndex.json
dataLoaderIndex.json
/build
/cidb.h2.db
/cidb.lock.db
/cidb.mv.db
/cidb.trace.db
/classes
/dataLoaderIndex.json
/Tools/dxcore-fix-autoexecutor/log/
/Tools/dxcore-fix-autoexecutor/var/
/Tools/dxcore-fix-autoexecutor/runners.recovery.log*
/fix
/fix-dxcore
fix-markets/currenex/currenex-quote-gate/deploy/*.log
fix-markets/currenex/currenex-quote-gate/deploy/build
fix-markets/currenex/currenex-quote-gate/deploy/classes
fix-markets/currenex/currenex-quote-gate/deploy/fix
fix-markets/currenex/currenex-quote-gate/deploy/log
fix-markets/currenex/currenex-quote-gate/deploy/out
fix-markets/currenex/currenex-quote-gate/deploy/release
/log
/mvn-dataLoaderIndex.json
/out
/outgoing/
/out.txt
/release
/sessFolder/
/var
/.PVS-Studio
/.project